/* Style the list inside the menu*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:larger;
}
/*style the header*/
header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/*style the navigation menu */
section{
  display: flex;
  display: -webkit-flex;
  /*very important for height 80% viewPort height*/

}

nav{
  -webkit-flex:0.5;
  -ms-flex:0.5;
  flex: 0.5; /* impacts the content width, how big nav will grow compared to other items*/
  background: #ccc;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content*/
article{
  display:flex;
  -webkit-flex:4;
  -ms-flex:4;
  flex: 4;  /*impacts the content width, how big "article " will grow compared to other items*/
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 0px;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
/*.product-container{
  display: flex;
  flex-direction: row;
}*/
aside{
  display: flex;
  flex-direction: column;
}

.product-container{
  margin-left:20px; /*this is specially useful when the viwport shrinks*/
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  grid-template-columns:repeat(auto-fill,minmax(400px,2fr));
  gap:40px;
}

.button-clik {
  cursor: pointer;
}
.label-clik {
  cursor: pointer;
}
.category-product-title {
  /*grid-column: 1 / span 3;*/
  color: darkslategray;
  font-weight: bold;
  font-size: 25px;
  padding-left: 2px;
  margin-bottom: 30px;
  margin-left: 18px;
}

.category-product-image-container{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.category-product-image-container img{
width: 100%;
height: 100%;
border-radius: 10px;
}

.category-product-info-header{
  display: flex;
}

.category-product-info-finance-price{
  color: darkslategray;
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
}

.category-product-info-dimensions,
.category-product-info-capacity{
  display: flex;
  flex-direction: column;
}

.category-product-info-features h3,
.category-product-info-dimensions h3,
.category-product-info-capacity h3 {
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}



.category-product-info-features li{
padding-top: 5px;
}
.category-product-info-stock{
  padding-left: 10px;
  margin-top: 20px;
  padding-top: 10px ;
  background-color: lightgray;
  height: 70px;
  width: 170px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  }

.category-product-info-stock label {
  padding-bottom: 5px;
}

.category-product-action{
  display: flex;
  flex-direction: column;
}
.category-product-action button{
  width: 160px;
  height:30px ;
  border-radius:10px ;
  margin-top: 20px;
  background-color: lightgray;
  border: solid 1px slategray;
  font-weight: bold;
}

.category-product-action button:last-child{
  background-color: darkgray;
}

.description {
  margin-top: 20px;
}
/* Rsponsive layout - makes the menu and the content (insde the section) sit on top of each other*/
@media(max-width: 600px){
  section{
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .category-product-info-features{
    margin-left: 15px;
    padding-left: 5px;
    }
}